{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="login-container">
        <form class="login-form" action="/register" method="post" enctype="multipart/form-data">
            {% csrf_token %} 
          <h2>Register</h2>
          <div>
            <style>
                h5{
                    text-align: center;
                    color: red;
                }
            </style>
            {% if messages %}
            {% for message in messages %}
            <h5>{{message}}</h5>
            {% endfor %}
            {% endif %}
        </div>
          <div class="input-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
          </div>
          <div class="input-group">
            <label for="username">First Name:</label>
            <input type="text" id="first_name" name="first_name" required>
          </div>
          <div class="input-group">
            <label for="username">Last Name:</label>
            <input type="text" id="last_name" name="last_name" required>
          </div>
          <div class="input-group">
            <label for="username">Gmail:</label>
            <input type="text" id="email" name="email" required>
          </div>
          <div class="input-group">
            <label for="username">Profile Photo:</label>
            <input type="file" id="profilepic" name="profilepic" required>
          </div>
          <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
          </div>
          <button type="submit">Sign up</button>
        </form>
      </div>
</body>
</html>